################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Src/.vs/AzShip.Web/v16/Server/sqlite3/db.lock
